/* ###################################
########### -- POLICES -- ############
################################### */

@font-face {
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'robotomedium';
	src: url('fonts/Roboto-Medium-webfont.eot');
	src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Medium-webfont.woff2') format('woff2'),
	url('fonts/Roboto-Medium-webfont.woff') format('woff'),
	url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
	url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ################################################
########### -- PROPRIETES GENERALES -- ############
################################################ */

*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto-Medium', 'robotomedium', sans-serif;
}

a
{
	color: #000;
	list-style-type: none;
	text-decoration: none;
}

ul
{
	list-style-type: none;
}

p
{
	flex-wrap: wrap;
	line-height: 180%;
	font-size: 1.1em;
}

#services h1, #projets h1
{
	text-align: center;
	font-size: 3.5em;
}

.header_services, .header_projets
{
	margin: auto;
}

.header_services p, .header_projets p
{
	width: 70%;
	text-align: center;
	margin: auto;
}

/* Séparation titre/paragraphe */
.separation
{
	width: 200px;
	height: 50px;
	position: relative;
	margin: auto;
}

.lisere
{
	width: 200px;
	height: 1px;
	background-color: #E5E5E5;
	position: absolute;
	z-index: 1;			/* liseré < rond blanc < rond bleu */
	top: 17px;
}

.rond_blanc
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	z-index: 2;
	left: 85px;
}

.rond_bleu
{
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #5CADD3;
	position: absolute;
	z-index: 3;
	top: 8px;
	left: 92.5px;
}

/* ##################################
########### -- HEADER -- ############
################################## */

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 105px;
	width: 100%;
	/* En-tête fixe qui suit la navigation */
	position: fixed;
	z-index: 99;
	background-color: rgba(255,255,255,0.7);
}

.logo_titre img
{
	height: 75px;
	margin-left: 175px;
}

.menu_en_tete
{
	margin-right: 175px;
}

.menu_en_tete a
{
  padding: 40px 15px;
}

.menu_en_tete a:hover
{
	border-top: 3px solid #72B8D9;
}

header nav ul
{
  display: flex;
  flex-direction: row;
}

/* ##################################
########### -- SLIDER -- ############
################################## */

.slider
{
	position: relative;
	padding-top: 105px;
}

.image_slider
{
  width: 100%;
}

/* Bande de chargement du slider */
.bande_chargement
{
	height: 5px;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 4px;
}

.bande_bleue
{
	width: 200px;
	background-color: #5CADD3;
}

.bande_grise
{
	background-color: rgba(0,0,0,0.1);
	width: 100%;
}

.texte_slider
{
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 40%;
	left: 10%;
	flex-wrap: wrap;
	max-width: 40%;
}

.texte_slider h1
{
	font-size: 3em;
}

.webagency_slider
{
	color: #5CADD3;
}

.bouton_info
{
	background-color: #5CADD3;
	color: #FFF;
	border-radius: 3px;
	padding: 15px;
	width: 110px;
	box-shadow: 0px 3px 0px #468CAD;
	font-size: 1.3em;
	margin-top: 5px;
}

.fleche_gauche
{
	color: #FFF;
	position: absolute;
	left: 10px;
	top: 57.5%;
	z-index: 2;
}

.fleche_droite
{
	color: #FFF;
	position: absolute;
	right: 10px;
	top: 57.5%;
}

.demi_cercle_gauche
{
	width: 45px;
	height: 90px;
	border: 0px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	z-index: 1;
	top: -30px;
	left: -10px;
}

.demi_cercle_droite
{
	width: 45px;
	height: 90px;
	border: 0px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	z-index: 1;
	top: -30px;
	right: -10px;
}

/* ##########################################
########### -- "NOS SERVICES" -- ############
########################################## */

#services
{
	padding: 105px 0px 15px 0px;
	display: flex;
	flex-direction: column;
}

.corps_services
{
	display: flex;
	flex-direction: row;
	padding-top: 75px;
	justify-content: space-between;
	margin: auto;
}

.ordinateur_mac
{
	height: 400px;
	padding-left: 50px;
}

.liste_services
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 375px;
	width: 725px;
	padding: 100px 0px 15px 100px;
}

/* Construction des icônes de la liste des services */
.logo_ux, .logo_ui, .logo_seo
{
	width: 100px;
	height: 100px;
	position: relative;
}

.cercle
{
	width: 80px;
	height: 80px;
	border: 2px solid #E5E5E5;
	border-radius: 50%;
	position: absolute;
	z-index: 1;			/* cercle < rond blanc < rond bleu */
}

.rond_blanc2
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	z-index: 2;
	top: 25px;
	left: 64px;
}

.rond_bleu2
{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #5CADD3;
	position: absolute;
	z-index: 3;
	top: 33px;
	left: 72.5px;
}

.chart_line, .cubes, .chart_pie
{
	color: #5CADD3;
	position: absolute;
	top: 25px;
	left: 25px;
}

.ux_design, .ui_design, .seo
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.texte_ux, .texte_ui, .texte_seo
{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* #########################################
########### -- "NOS PROJETS" -- ############
######################################### */

#projets
{
	padding: 105px 0px 50px 0px;
	display: flex;
	flex-direction: column;
	background-color: #F5F5F5;
}

/* Menu de navigation du portfolio */
.nav_projets
{
	margin: auto;
	padding: 50px 0px 35px 0px;
	min-height: 60px;
}

#projets nav ul
{
	display: flex;
	flex-direction: row;
}

#projets nav li
{
	background-color: #E5E5E5;
	padding: 15px;
	min-width: 90px;
	font-size: 1.2em;
	text-align: center;
	position: relative;
}

#projets .nav_1
{
	border-radius: 5px 0px 0px 5px;
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
}

.nav_4
{
	border-radius: 0px 5px 5px 0px;
}

.fleche_bas
{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #468CAD;
	position: absolute;
	left: 50px;
	bottom: -10px;
	opacity: 0;
}

#projets nav li:hover
{
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
}

#projets nav li:hover a, .nav_1 a
{
	color: #FFF;
}

#projets nav li:hover .fleche_bas, .nav_1 .fleche_bas
{
	opacity: 1;
}

.portfolio
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	max-width: 1540px;
}

.portfolio img
{
	max-width: 360px;
	margin-bottom: 15px;
}

.details_projet
{
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	width: 330px;
	padding: 15px;
	height: 55px;
	bottom: 19px;
	position: absolute;
	z-index: 2;
	opacity: 0;
	display: block;
}

.details_projet h2
{
	font-size: 1.2em;
}

.icone_oeil
{
	position: absolute;
	z-index: 3;
	width: 50px;
	height: 50px;
	border: 2px solid #FFF;
	border-radius: 50%;
	background-color: #5CADD3;
	top: -26px;
	right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio_item
{
	position: relative;
	z-index: 1;
}

/* Animation de la légende sur les images du portfolio */
.portfolio_item:hover .details_projet
{
	opacity: 1;
	animation: animation_portfolio 0.5s ease;
	-webkit-animation: animation_portfolio 0.5s ease;
}

@-webkit-keyframes animation_portfolio {
	0%{
		height: 0px;
	}
	100%{
		height: 55px;
	}
}

@keyframes animation_portfolio {
	0%{
		height: 0px;
	}
	100%{
		height: 55px;
	}
}

/* ###################################
########### -- CONTACT -- ############
################################### */

#contact
{
	position: relative;
	background-color: rgb(0,165,245);
	height: 800px;
}

/* Carte Google Maps */
#contact iframe
{
	opacity: 0.8;
	width: 100%;
	height: 800px;
	border: none;
}

/* Formulaire de contact */
.formulaire
{
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	top: 75px;
	right: 200px;
	max-height: 75%;
	width: 400px;
}

.formulaire form
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.formulaire input, textarea
{
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid rgb(200,200,200);
	font-size: 1.15em;
}

.infosContact
{
	padding-bottom: 20px;
}

.infosContact h1
{
	padding-bottom: 15px;
	font-size: 2em;
}

.infosContact h2, .infosContact p
{
	color: rgb(115,115,115);
}

.infosContact h2
{
	font-size: 1.2em;
}

/* Bouton "send message" du formulaire de contact */
.send_message
{
	color: #FFF;
	background-color: #5CADD3;
	border-radius: 3px;
	border: none;
	width: 150px;
	padding: 10px;
	box-shadow: 0px 4px 0px #468CAD;
	font-size: 1.1em;
}

/* ##################################
########### -- FOOTER -- ############
################################## */

/* #pied_de_page
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reseaux_sociaux
{
	padding: 10px;
}

.reseaux_sociaux img
{
	width: 50px;
	height: 50px;
}

.reseaux_sociaux a
{
	margin: 5px;
} */

/* #########################################
########### -- MEDIA QUERIES -- ############
######################################### */

/* Affichage jusqu'à 1525px de large */
@media all and (max-width: 1525px) {
	/* SLIDER */
	.texte_slider h1
	{
		font-size: 2.5em;
	}

	.ordinateur_mac
	{
		padding-left: 0px;
		height: 350px;
	}

	/* SERVICES */
	.liste_services
	{
		width: 700px;
		padding: 60px 0px 15px 0px;
	}

	.logo_ux, .logo_ui, .logo_seo
	{
		padding-right: 25px;
	}

	/* PROJETS */
	.portfolio
	{
		max-width: 1150px;
		justify-content: center;
	}

	.portfolio_item
	{
		margin: 0px 10px;
	}

	.portfolio img
	{
		max-width: 260px;
	}

	.details_projet
	{
		width: 230px;
		height: 42px;
	}

	.details_projet h2
	{
		font-size: 1.1em;
	}

	.details_projet p
	{
		font-size: 0.9em;
	}

	@-webkit-keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 42px;
		}
	}

	@keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 42px;
		}
	}

	/* CONTACT */
	.formulaire
	{
		right: 50px;
	}
}

/* Affichage jusqu'à 1275px de large */
@media all and (max-width: 1275px) {
	/* SLIDER */
	.texte_slider
	{
		font-size: 0.9em;
		top: 42.5%;
	}

	.bouton_info
	{
		padding: 10px;
		width: 90px;
		font-size: 1.2em;
	}

	/* SERVICES */
	.ordinateur_mac
	{
		height: 300px;
	}

	.liste_services
	{
		width: 600px;
		padding: 50px 0px 15px 0px;
	}

	.liste_services p
	{
		line-height: 150%;
	}

	.logo_ux, .logo_ui, .logo_seo
	{
		padding-right: 40px;
	}

	.texte_ux, .texte_ui, .texte_seo
	{
		margin-bottom: 25px;
	}

	/* CONTACT */
	#contact iframe, #contact
	{
		height: 700px;
	}

	.formulaire
	{
		width: 300px;
	}
}

/* Affichage jusqu'à 1195px de large */
@media all and (max-width: 1195px) {
	.portfolio img
	{
		max-width: 330px;
	}

	.details_projet
	{
		width: 300px;
		height: 50px;
	}

	.details_projet h2
	{
		font-size: 1.2em;
	}

	.details_projet p
	{
		font-size: 1em;
	}

	@-webkit-keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 50px;
		}
	}

	@keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 50px;
		}
	}
}

/* Affichage jusqu'à 1100px de large */
@media all and (max-width: 1100px) {
	/* HEADER */
	header
	{
		min-height: 105px;
	}

	.logo_titre img
	{
		margin-left: 100px;
		height: 60px;
	}

	.menu_en_tete
	{
		margin-right: 100px;
	}

	/* SLIDER */
	.slider
	{
		padding-top: 105px;
	}

	.fleche_gauche, .fleche_droite
	{
		top: 57.5%;
	}

	.texte_slider
	{
		top: 42.5%;
	}

	.texte_slider h1
	{
		font-size: 2em;
	}

	/* SERVICES + PROJETS */
	#services, #projets
	{
		padding-top: 105px;
	}

	.ordinateur_mac
	{
		height: 250px;
	}

	.liste_services
	{
		width: 550px;
		padding: 25px 0px 15px 0px;
	}

	/* CONTACT */
	#contact
	{
		position: static;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(0,165,245,0);
		padding-top: 105px;
		height: auto;
	}

	#contact iframe
	{
		height: 550px;
	}

	.formulaire
	{
		position: static;
		width: 400px;
		text-align: center;
		margin-top: 15px;
		border: 1px solid rgb(190,190,190);
		background-color: #F5F5F5;
	}

	.send_message
	{
		align-self: flex-end;
	}
}

/* Affichage jusqu'à 975px de large */
@media all and (max-width: 975px) {
	/* SERVICES */
	.corps_services
	{
		flex-direction: column;
		padding-top: 50px;
		align-items: center;
	}

	.ordinateur_mac
	{
		height: 290px;
	}

	.liste_services p
	{
		text-align: justify;
	}
}

/* Affichage jusqu'à 825px de large */
@media all and (max-width: 825px) {
	/* HEADER */
	header
	{
		flex-direction: column;
		padding: 10px 0px 18px 0px;
	}

	.logo_titre img, .menu_en_tete
	{
		margin: 0px;
	}

	.menu_en_tete a
	{
		padding: 15px 10px;
	}

	.menu_en_tete a:hover
	{
		border-top: none;
		border-bottom: 3px solid #72B8D9;
	}

	/* SLIDER + SERVICES + PROJETS + CONTACT */
	.slider, #services, #projets, #contact
	{
		padding-top: 133px;
	}

	/* SLIDER */
	.texte_slider
	{
		font-size: 0.8em;
	}

	.bouton_info
	{
		padding: 8px;
		width: 80px;
	}

	.fleche_gauche, .fleche_droite
	{
		display: none;
	}

	/* SERVICES + PROJETS */
	.header_services p, .header_projets p
	{
		width: 85%;
	}

	/* CONTACT */
	#contact iframe
	{
		height: 450px;
	}
}

/* Affichage jusqu'à 650px de large */
@media all and (max-width: 650px) {
	/* SLIDER */
	.texte_slider p
	{
		display: none;
	}

	.texte_slider
	{
		top: 50%;
		font-size: 0.7em;
	}

	.bouton_info
	{
		width: 70px;
	}
}

/* Affichage jusqu'à 600px de large */
@media all and (max-width: 600px) {
	/* SERVICES */
	.texte_ux, .texte_ui, .texte_seo
	{
		font-size: 0.9em;
	}

	.liste_services
	{
		width: 465px;
	}
}

/* Affichage jusqu'à 500px de large */
@media all and (max-width: 500px) {
	/* HEADER */
	header
	{
		min-height: 85px;
		padding-top: 5px;
	}

	.logo_titre img
	{
		height: 45px;
	}

	/* SLIDER + SERVICES + PROJETS + CONTACT */
	.slider, #services, #projets, #contact
	{
		padding-top: 108px;
	}

	/* SLIDER */
	.texte_slider
	{
		font-size: 0.6em;
		top: 47.5%;
	}

	.bouton_info
	{
		width: 60px;
		padding: 7px;
	}

	.bande_chargement
	{
		height: 3px;
	}

	/* SERVICES + PROJETS */
	#services h1, #projets h1
	{
		font-size: 2.5em;
	}

	#services p, .header_projets p
	{
		font-size: 0.8em;
	}

	/* SERVICES */
	.corps_services
	{
		width: 350px;
		padding-top: 25px;
	}

	.ordinateur_mac
	{
		height: 220px;
	}

	.liste_services
	{
		max-height: 300px;
		max-width: 350px;
	}

	.logo_ux, .logo_ui, .logo_seo
	{
		display: none;
	}

	/* PROJETS */
	.nav_projets
	{
		padding: 30px 0px 20px 0px;
	}

	#projets nav li
	{
		padding: 12px 8px;
		min-width: 70px;
		font-size: 0.95em;
	}

	.fleche_bas
	{
		left: 32.5px;
	}

	.portfolio_item
	{
		margin: 0px 5px;
	}

	.portfolio img
	{
		max-width: 300px;
	}

	.details_projet
	{
		width: 270px;
		font-size: 0.85em;
		height: 42px;
	}

	@-webkit-keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 42px;
		}
	}

	@keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 42px;
		}
	}

	/* CONTACT */
	#contact iframe
	{
		height: 400px;
	}

	.formulaire
	{
		width: 280px;
		padding: 10px
	}

	.infosContact
	{
		font-size: 0.8em;
		padding-bottom: 10px;
	}

	.formulaire input, textarea
	{
		padding: 8px;
		margin-bottom: 15px;
		border-radius: 5px;
		font-size: 0.9em;
	}

	.send_message
	{
		width: 120px;
		padding: 8px 10px;
		box-shadow: 0px 3px 0px #468CAD;
		font-size: 0.9em;
	}
}

/* Affichage jusqu'à 425px de large */
@media all and (max-width: 425px) {
	/* SERVICES + PROJETS */
	#services h1, #projets h1
	{
		font-size: 2em;
	}

	/* SLIDER */
	.texte_slider
	{
		font-size: 0.45em;
		top: 52.5%;
		left: 7.5%;
	}

	.bouton_info
	{
		padding: 6px 8px;
		width: 45px;
		box-shadow: 0px 2px 0px #468CAD;
	}
}

/* Affichage de 0px à 375px de large */
@media all and (max-width: 375px) {
	/* SERVICES */
	.corps_services
	{
		max-width: 300px;
	}

	.ordinateur_mac
	{
		height: 180px;
	}

	.liste_services
	{
		max-width: 280px;
	}

	.liste_services h2
	{
		font-size: 1.3em;
	}

	/* PROJETS */
	.nav_projets
	{
		font-size: 0.9em;
	}

	#projets nav li
	{
		padding: 12px 8px;
		min-width: 60px;
		font-size: 0.95em;
	}

	.fleche_bas
	{
		left: 27.5px;
	}
}

/* Affichage au-dessus de 2100px de large (=> 4K) */
@media all and (min-width: 2100px) {
	body
	{
		font-size: 1.5em;
	}

	/* HEADER */
	header
	{
		min-height: 125px;
	}

	.logo_titre img
	{
		height: 100px;
		margin-left: 200px;
	}

	.menu_en_tete
	{
		margin-right: 200px;
	}

	.menu_en_tete a
	{
		font-size: 1.1em;
		padding: 40px 35px;
	}

	.menu_en_tete a:hover
	{
		border-top: 6px solid #72B8D9;
	}

	/* SLIDER */
	.slider
	{
		padding-top: 125px;
	}

	.texte_slider p
	{
		font-size: 1.2em;
	}

	.bande_chargement
	{
		height: 10px;
		bottom: 6px;
	}

	.bouton_info
	{
		border-radius: 5px;
		padding: 20px;
		width: 165px;
		box-shadow: 0px 5px 0px #468CAD;
		margin-top: 8px;
	}

	.fleche_gauche, .fleche_droite
	{
		top: 55%;
		font-size: 1.5em;
	}

	.demi_cercle_gauche
	{
		width: 80px;
		height: 160px;
		border-top-right-radius: 80px;
		border-bottom-right-radius: 80px;
		top: -40px;
	}

	.demi_cercle_droite
	{
		width: 80px;
		height: 160px;
		border-top-left-radius: 80px;
		border-bottom-left-radius: 80px;
		top: -40px;
	}

	/* Séparation titre/paragraphe */
	.separation
	{
		width: 300px;
	}

	.lisere
	{
		width: 300px;
		height: 1px;
	}

	.rond_blanc
	{
		width: 40px;
		height: 40px;
		left: 135px;
		top: -2px;
	}

	.rond_bleu
	{
		width: 20px;
		height: 20px;
		left: 145px;
	}

	/* SERVICES + PROJETS */
	#services, #projets
	{
		padding-top: 150px;
	}

	/* SERVICES */
	.ordinateur_mac
	{
		height: 600px;
		padding-left: 0px;
	}

	.logo_ux, .logo_ui, .logo_seo
	{
		width: 150px;
		height: 150px;
	}

	.cercle
	{
		width: 125px;
		height: 125px;
		border: 3px solid #E5E5E5;
	}

	.rond_blanc2
	{
		width: 40px;
		height: 40px;
		top: 47.5px;
		left: 107.5px;
	}

	.rond_bleu2
	{
		width: 20px;
		height: 20px;
		top: 57.5px;
		left: 117.5px;
	}

	.chart_line, .cubes, .chart_pie
	{
		top: 42.5px;
		left: 42.5px;
	}

	.liste_services
	{
		height: 600px;
		width: 1000px;
	}

	.texte_ux, .texte_ui, .texte_seo
	{
		width: 675px;
		padding-right: 150px;
	}

	/* PROJETS */
	.nav_projets
	{
		padding: 50px 0px 40px 0px;
		min-height: 90px;
	}

	#projets nav li
	{
		padding: 25px;
		min-width: 150px;
	}

	.nav_1
	{
		border-radius: 7px 0px 0px 7px;
	}

	.nav_4
	{
		border-radius: 0px 7px 7px 0px;
	}

	.fleche_bas
	{
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #468CAD;
		left: 85px;
		bottom: -15px;
	}

	#projets nav li:hover
	{
		border-bottom: 5px solid #468CAD;
	}

	.portfolio
	{
		max-width: 2000px;
	}

	.portfolio img
	{
		max-width: 480px;
		margin-bottom: 25px;
	}

	.details_projet
	{
		width: 430px;
		padding: 25px;
		height: 65px;
		bottom: 30px;
	}

	.icone_oeil
	{
		width: 70px;
		height: 70px;
		border: 3px solid #FFF;
		top: -37px;
		right: 20px;
	}

	@-webkit-keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 65px;
		}
	}

	@keyframes animation_portfolio {
		0%{
			height: 0px;
		}
		100%{
			height: 65px;
		}
	}

	/* CONTACT */
	#contact, #contact iframe
	{
		height: 1000px;
	}

	.formulaire
	{
		padding: 30px;
		top: 90px;
		width: 500px;
	}

	.formulaire input, textarea
	{
		padding: 15px;
		margin-bottom: 25px;
		border-radius: 7px;
		font-size: 1.05em;
	}

	.send_message
	{
		border-radius: 6px;
		width: 220px;
		padding: 15px;
		box-shadow: 0px 6px 0px #468CAD;
	}
}
